<?xml version="1.0" encoding="UTF-8" ?>

    <widget xmlns:gap       = "http://phonegap.com/ns/1.0"
			xmlns:android   = "http://schemas.android.com/apk/res/android"
	
			id        = "Big Chicago Tree"
			version     = "1.0.0" >

		<name>Big Tree in Chicago</name>

		<description>
		   Google map showing the location of the big Christmas tree in Chicago
		</description>

		<author href="cs.iupui.edu/~cdlotz" email="cdlotz@iupui.edu">
				Cory Lotz
		</author>
		

		<gap: platform name = "android" />

		<icon src="tree.png" />

		<gap: splash src = "tree.png" >
		
		<preference name="permissions" value="none"/>



	</widget>